<div class="card mb-4 mt-4">
    <div class="card-img-wrapper">
      <img class='card-img-top' src="{{user.photoUrl || '../../../../../../assets/original.png'}}" alt="{{user.knownAs}}">
      <ul class="member-icon list-inline animate text-center">
        <li class="list-inline-item"><button [routerLink]="['/members', user.id]" routerLinkActive="router-link-active" ><i class="fa fa-user"></i></button></li>
        <li class="list-inline-item"><button><i class="fa fa-heart"></i></button></li>
        <li class="list-inline-item"><button><i class="fa fa-envelope"></i></button></li>

      </ul>
    </div>

    <div class="card-body-p1">
      <h6 class="card-header text-center mb-1"><i class= "fa fa-user"></i>
        {{user.username}}, {{user.age}}
      </h6>
      <p class="card-text text-muted text-center">
        {{user.country}}  
      </p>  
    </div>
</div>
